@()

@main("Blackjack") {
  
<div id="outer-container">

  <div id="inner-container">

    <div id="settings-modal" class="modal" aria-hidden="true" tabindex="-1" role="dialog" style="display: none;" >
      <span id="settings-close"  >&#10006;</span>
      <br /> 
      <span id="settings-dealer-hit-limit-span" >
        dealer hit limit: 
        <input type="radio" id="dealer-hit-limit-choice-1" value="S17" name="settings-dealer-hit-limit" checked="checked" />
        <label for="dealer-hit-limit-choice-1">S17</label>
        <input type="radio" id="dealer-hit-limit-choice-2" value="H17" name="settings-dealer-hit-limit" />
        <label for="dealer-hit-limit-choice-2">H17</label>
      </span>
      <span id="settings-blackjack-payout-span" >
        blackjack payout: 
        <input type="radio" id="blackjack-payout-choice-1" value="ThreeToTwo" name="settings-blackjack-payout" checked="checked" />
        <label for="blackjack-payout-choice-1">3:2</label>
        <input type="radio" id="blackjack-payout-choice-2" value="SixToFive" name="settings-blackjack-payout" />
        <label for="blackjack-payout-choice-2">6:5</label>
        <input type="radio" id="blackjack-payout-choice-3" value="OneToOne" name="settings-blackjack-payout" />
        <label for="blackjack-payout-choice-3">1:1</label>
      </span>
      <span id="settings-deck-count-span" class="range-wrap">
        deck count: <output class="bubble"></output>
        <input type="range" class="range" min="1" max="8" value="1" id="settings-deck-count" />
      </span>
      <span id="settings-allow-surrender-span" >
        allow surrender: 
        <input type="radio" id="allow-surrender-choice-1" value="true" name="settings-allow-surrender" checked="checked" />
        <label for="allow-surrender-choice-1">yes</label>
        <input type="radio" id="allow-surrender-choice-2" value="false" name="settings-allow-surrender" />
        <label for="allow-surrender-choice-2">no</label>
      </span>
      <span id="settings-split-limit-span" class="range-wrap">
        split limit: <output class="bubble"></output>
        <input type="range"  class="range" min="0" max="3" value="3" id="settings-split-limit" />
      </span>
      <span id="settings-hit-on-split-aces-span" >
        hit on split aces: 
        <input type="radio" id="hit-on-split-aces-choice-1" value="true" name="settings-hit-on-split-aces" checked="checked" />
        <label for="hit-on-split-aces-choice-1">yes</label>
        <input type="radio" id="hit-on-split-aces-choice-2" value="false" name="settings-hit-on-split-aces" />
        <label for="hit-on-split-aces-choice-2">no</label>
      </span>
      <span id="settings-resplit-on-split-aces-span" >
        re-split on split aces: 
        <input type="radio" id="resplit-on-split-aces-choice-1" value="true" name="settings-resplit-on-split-aces" checked="checked" />
        <label for="resplit-on-split-aces-choice-1">yes</label>
        <input type="radio" id="resplit-on-split-aces-choice-2" value="false" name="settings-resplit-on-split-aces" />
        <label for="resplit-on-split-aces-choice-2">no</label>
      </span>
      <span id="settings-initial-bank-span" class="range-wrap">
        initial bank: <output class="bubble"></output>
        <input type="range" class="range" min="1" max="6000" value="2000" step="1" id="settings-initial-bank" />
      </span>
      <!-- TODO: minimum bet, initial bank  -->
      <input type="button" id="settings-submit" value="New Game" />
    </div>

    <div id="display-controls" >
      <p>
        <span><a href="#" id="make-smaller" title="smaller">-</a></span>
        <span><a href="#" id="pause" title="pause">||</a></span>
        <span><a href="#" id="play" title="play" class="align-right">&#9658;</a></span>
        <span><a href="#" id="settings" title="new game" class="align-right" >~</a></span>
        <span><a href="#" id="make-larger" title="larger" class="align-right">+</a></span>
      </p>
    </div> 
    <div id="dealer-cards" class="medium hand" >
      <div class="card" >
        <!-- <div class="front red">
          <div class="index">Q<br />&diams;</div>
          <img class="face" src="@routes.Assets.versioned("images/cards/queen.gif")" alt="queen" width="80" height="130" />
          <div class="spotA1">&diams;</div>
          <div class="spotC5">&diams;</div>
        </div> -->
      </div>
      <div class="card" >
        <div class="front">
          <div class="index">9<br />&spades;</div>
          <div class="spotA1">&spades;</div>
          <div class="spotA2">&spades;</div>
          <div class="spotA4">&spades;</div>
          <div class="spotA5">&spades;</div>
          <div class="spotB3">&spades;</div>
          <div class="spotC1">&spades;</div>
          <div class="spotC2">&spades;</div>
          <div class="spotC4">&spades;</div>
          <div class="spotC5">&spades;</div>
        </div>
      </div>
    </div>
    <div class="separator" ></div>

    <!-- <div class="chips">
      <div class="chip white"></div>
      <div class="chip red"></div>
      <div class="chip blue"></div>
      <div class="chip green"></div>
      <div class="chip black"></div>
    </div> -->

    <!-- <div class="separator" ></div> -->
    
    <!-- <div class="form-group">
      <textarea id="message-input" class="form-control" ></textarea>
    </div> -->
    <!-- <button id="send-button" type="button" >Send</button> -->

    <input type="text" id="txtTest" />
    <input type="button" id="btnTest" title="text" value="TEST" /> 

    <div id="player-cards-4" class="medium player" >
      <div class="chips">
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip red"></div>
        <div class="chip red"></div>
        <div class="chip blue"></div>
        <div class="chip green"></div>
        <div class="chip black"></div>
      </div>
      <div class="hand">
        <div class="card" >
          <div class="front red">
            <div class="index">Q<br />&diams;</div>
            <img class="face" src="@routes.Assets.versioned("images/cards/queen.gif")" alt="queen" width="80" height="130" />
            <div class="face-suit spotA1">&diams;</div>
            <div class="face-suit spotC5">&diams;</div>
          </div>
        </div>
        <div class="card" >
          <div class="front red">
            <div class="index">9<br />&hearts;</div>
            <div class="spotA1">&hearts;</div>
            <div class="spotA2">&hearts;</div>
            <div class="spotA4">&hearts;</div>
            <div class="spotA5">&hearts;</div>
            <div class="spotB3">&hearts;</div>
            <div class="spotC1">&hearts;</div>
            <div class="spotC2">&hearts;</div>
            <div class="spotC4">&hearts;</div>
            <div class="spotC5">&hearts;</div>
          </div>
        </div>
      </div>
    </div>
    <div id="player-cards-3" class="medium player" >
      <div class="chips">
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip red"></div>
        <div class="chip red"></div>
        <div class="chip blue"></div>
        <div class="chip green"></div>
        <div class="chip black"></div>
      </div>
      <div class="hand"> 
        <div class="card" >
          <div class="front red">
            <div class="index">Q<br />&diams;</div>
            <img class="face" src="@routes.Assets.versioned("images/cards/queen.gif")" alt="queen" width="80" height="130" />
            <div class="face-suit spotA1">&diams;</div>
            <div class="face-suit spotC5">&diams;</div>
          </div>
        </div>
        <div class="card" >
          <div class="front red">
            <div class="index">9<br />&hearts;</div>
            <div class="spotA1">&hearts;</div>
            <div class="spotA2">&hearts;</div>
            <div class="spotA4">&hearts;</div>
            <div class="spotA5">&hearts;</div>
            <div class="spotB3">&hearts;</div>
            <div class="spotC1">&hearts;</div>
            <div class="spotC2">&hearts;</div>
            <div class="spotC4">&hearts;</div>
            <div class="spotC5">&hearts;</div>
          </div>
        </div>
      </div>
    </div>
    <div id="player-cards-2" class="medium player align-right" >
      <div class="chips">
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip red"></div>
        <div class="chip red"></div>
        <div class="chip blue"></div>
        <div class="chip green"></div>
        <div class="chip black"></div>
      </div>
      <div class="hand">
        <div class="card" >
          <div class="front red">
            <div class="index">9<br />&hearts;</div>
            <div class="spotA1">&hearts;</div>
            <div class="spotA2">&hearts;</div>
            <div class="spotA4">&hearts;</div>
            <div class="spotA5">&hearts;</div>
            <div class="spotB3">&hearts;</div>
            <div class="spotC1">&hearts;</div>
            <div class="spotC2">&hearts;</div>
            <div class="spotC4">&hearts;</div>
            <div class="spotC5">&hearts;</div>
          </div>
        </div>
        <div class="card" >
          <div class="front red">
            <div class="index">Q<br />&diams;</div>
            <img class="face" src="@routes.Assets.versioned("images/cards/queen.gif")" alt="queen" width="80" height="130" />
            <div class="face-suit spotA1">&diams;</div>
            <div class="face-suit spotC5">&diams;</div>
          </div>
        </div>
      </div>
    </div>

    <div id="player-cards-1" class="medium player" >
      <div class="chips">
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip red"></div>
        <div class="chip red"></div>
        <div class="chip blue"></div>
        <div class="chip green"></div>
        <div class="chip black"></div>
      </div>
      <div class="hand">
        <div class="card" >
          <div class="front red">
            <div class="index">9<br />&hearts;</div>
            <div class="spotA1">&hearts;</div>
            <div class="spotA2">&hearts;</div>
            <div class="spotA4">&hearts;</div>
            <div class="spotA5">&hearts;</div>
            <div class="spotB3">&hearts;</div>
            <div class="spotC1">&hearts;</div>
            <div class="spotC2">&hearts;</div>
            <div class="spotC4">&hearts;</div>
            <div class="spotC5">&hearts;</div>
          </div>
        </div>
        <div class="card" >
          <div class="front">
            <div class="index">J<br />&clubs;</div>
            <img class="face" src="@routes.Assets.versioned("images/cards/jack.gif")" alt="jack" width="80" height="130" />
            <div class="face-suit spotA1">&clubs;</div>
            <div class="face-suit spotC5">&clubs;</div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- #inner-container -->
</div><!-- #outer-container -->

}