@()

@main("Blackjack") {
  
<div id="outer-container">

  <div id="inner-container">
    <div id="display-controls" >
      <p>
        <span><a href="#" id="make-smaller">-</a></span>
        <span><a href="#" id="make-larger" class="align-right">+</a></span>
      </p>
    </div> 
    <div id="dealer-cards" class="medium hand" >
      <div class="card" >
        <!-- <div class="front red">
          <div class="index">Q<br />&diams;</div>
          <img class="face" src="@routes.Assets.versioned("images/cards/queen.gif")" alt="queen" width="80" height="130" />
          <div class="spotA1">&diams;</div>
          <div class="spotC5">&diams;</div>
        </div> -->
      </div>
      <div class="card" >
        <div class="front">
          <div class="index">9<br />&spades;</div>
          <div class="spotA1">&spades;</div>
          <div class="spotA2">&spades;</div>
          <div class="spotA4">&spades;</div>
          <div class="spotA5">&spades;</div>
          <div class="spotB3">&spades;</div>
          <div class="spotC1">&spades;</div>
          <div class="spotC2">&spades;</div>
          <div class="spotC4">&spades;</div>
          <div class="spotC5">&spades;</div>
        </div>
      </div>
    </div>
    <div class="separator" ></div>

    <!-- <div class="chips">
      <div class="chip white"></div>
      <div class="chip red"></div>
      <div class="chip blue"></div>
      <div class="chip green"></div>
      <div class="chip black"></div>
    </div> -->

    <!-- <div class="separator" ></div> -->
    
    <!-- <div class="form-group">
      <textarea id="message-input" class="form-control" ></textarea>
    </div> -->
    <!-- <button id="send-button" type="button" >Send</button> -->

    <input type="text" id="txtTest" />
    <input type="button" id="btnTest" title="text" value="TEST" /> 

    <div id="player-cards-4" class="medium player" >
      <div class="chips">
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip red"></div>
        <div class="chip red"></div>
        <div class="chip blue"></div>
        <div class="chip green"></div>
        <div class="chip black"></div>
      </div>
      <div class="hand">
        <div class="card" >
          <div class="front red">
            <div class="index">Q<br />&diams;</div>
            <img class="face" src="@routes.Assets.versioned("images/cards/queen.gif")" alt="queen" width="80" height="130" />
            <div class="face-suit spotA1">&diams;</div>
            <div class="face-suit spotC5">&diams;</div>
          </div>
        </div>
        <div class="card" >
          <div class="front red">
            <div class="index">9<br />&hearts;</div>
            <div class="spotA1">&hearts;</div>
            <div class="spotA2">&hearts;</div>
            <div class="spotA4">&hearts;</div>
            <div class="spotA5">&hearts;</div>
            <div class="spotB3">&hearts;</div>
            <div class="spotC1">&hearts;</div>
            <div class="spotC2">&hearts;</div>
            <div class="spotC4">&hearts;</div>
            <div class="spotC5">&hearts;</div>
          </div>
        </div>
      </div>
    </div>
    <div id="player-cards-3" class="medium player" >
      <div class="chips">
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip red"></div>
        <div class="chip red"></div>
        <div class="chip blue"></div>
        <div class="chip green"></div>
        <div class="chip black"></div>
      </div>
      <div class="hand"> 
        <div class="card" >
          <div class="front red">
            <div class="index">Q<br />&diams;</div>
            <img class="face" src="@routes.Assets.versioned("images/cards/queen.gif")" alt="queen" width="80" height="130" />
            <div class="face-suit spotA1">&diams;</div>
            <div class="face-suit spotC5">&diams;</div>
          </div>
        </div>
        <div class="card" >
          <div class="front red">
            <div class="index">9<br />&hearts;</div>
            <div class="spotA1">&hearts;</div>
            <div class="spotA2">&hearts;</div>
            <div class="spotA4">&hearts;</div>
            <div class="spotA5">&hearts;</div>
            <div class="spotB3">&hearts;</div>
            <div class="spotC1">&hearts;</div>
            <div class="spotC2">&hearts;</div>
            <div class="spotC4">&hearts;</div>
            <div class="spotC5">&hearts;</div>
          </div>
        </div>
      </div>
    </div>
    <div id="player-cards-2" class="medium player align-right" >
      <div class="chips">
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip red"></div>
        <div class="chip red"></div>
        <div class="chip blue"></div>
        <div class="chip green"></div>
        <div class="chip black"></div>
      </div>
      <div class="hand">
        <div class="card" >
          <div class="front red">
            <div class="index">9<br />&hearts;</div>
            <div class="spotA1">&hearts;</div>
            <div class="spotA2">&hearts;</div>
            <div class="spotA4">&hearts;</div>
            <div class="spotA5">&hearts;</div>
            <div class="spotB3">&hearts;</div>
            <div class="spotC1">&hearts;</div>
            <div class="spotC2">&hearts;</div>
            <div class="spotC4">&hearts;</div>
            <div class="spotC5">&hearts;</div>
          </div>
        </div>
        <div class="card" >
          <div class="front red">
            <div class="index">Q<br />&diams;</div>
            <img class="face" src="@routes.Assets.versioned("images/cards/queen.gif")" alt="queen" width="80" height="130" />
            <div class="face-suit spotA1">&diams;</div>
            <div class="face-suit spotC5">&diams;</div>
          </div>
        </div>
      </div>
    </div>

    <div id="player-cards-1" class="medium player" >
      <div class="chips">
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip white"></div>
        <div class="chip red"></div>
        <div class="chip red"></div>
        <div class="chip blue"></div>
        <div class="chip green"></div>
        <div class="chip black"></div>
      </div>
      <div class="hand">
        <div class="card" >
          <div class="front red">
            <div class="index">9<br />&hearts;</div>
            <div class="spotA1">&hearts;</div>
            <div class="spotA2">&hearts;</div>
            <div class="spotA4">&hearts;</div>
            <div class="spotA5">&hearts;</div>
            <div class="spotB3">&hearts;</div>
            <div class="spotC1">&hearts;</div>
            <div class="spotC2">&hearts;</div>
            <div class="spotC4">&hearts;</div>
            <div class="spotC5">&hearts;</div>
          </div>
        </div>
        <div class="card" >
          <div class="front">
            <div class="index">J<br />&clubs;</div>
            <img class="face" src="@routes.Assets.versioned("images/cards/jack.gif")" alt="jack" width="80" height="130" />
            <div class="face-suit spotA1">&clubs;</div>
            <div class="face-suit spotC5">&clubs;</div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- #inner-container -->
</div><!-- #outer-container -->

}
