@()

@main("Play WebSockets 101") {
    <base href="http://localhost:9000" />
    <h1 class="text-primary" style="font-size:24px;padding-bottom:1.5em;">Play WebSockets 101: <small>Send &amp; Receive JSON</small></h1>

    <!-- this is where the client and server output will be shown/appended -->
    <div id="message-content" style="height:230px;overflow-y:auto !important;background-color:#fff;padding:1em;border-radius:10px;"></div>
   
      <input type="text" id="txtTest" /><br />
      <button id="btnTest">Go</button>
      <div id="testResult" />

      <div class="hand" >
        <div class="card" >
          <div class="front red">
            <div class="index">Q<br />&diams;</div>
            <img class="face" src="@routes.Assets.versioned("images/cards/queen.gif")" alt="queen" width="80" height="130" />
            <div class="spotA1">&diams;</div>
            <div class="spotC5">&diams;</div>
          </div>
        </div>
        <div class="card" >
          <div class="front red">
            <div class="index">9<br />&hearts;</div>
            <div class="spotA1">&hearts;</div>
            <div class="spotA2">&hearts;</div>
            <div class="spotA4">&hearts;</div>
            <div class="spotA5">&hearts;</div>
            <div class="spotB3">&hearts;</div>
            <div class="spotC1">&hearts;</div>
            <div class="spotC2">&hearts;</div>
            <div class="spotC4">&hearts;</div>
            <div class="spotC5">&hearts;</div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

        <div class="form-group">
            <label for="message-input">Message:</label>
            <textarea id="message-input" class="form-control" ></textarea>
        </div>
        <button id="send-button" type="button" class="btn btn-primary">Send</button>
    </form>

}
